
body{
    background-color: rgb(227, 233, 233);
    margin-left: 20px;
    margin-right: 20px;
}

.cuadro_login {
    border: 1px solid grey;
    padding: 10px;
    width: 300px;
    margin: auto;
}

.boton_ingresar {
    width: 200px;
    margin: auto
}

h1{

    color: rgb(47, 4, 146);

    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 675;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 footer{
    position: 0;
    bottom: 0;
    right: 25%;
    left: 25%;
}
div{
    height: 100%;
}
