
body{
    background-color: rgb(227, 233, 233);
    margin-left: 20px;
    margin-right: 20px;
}

.cuadro_login {
    border: 1px solid blue;
    padding: 10px;
    width: 300px;
}

.boton_ingresar {
    width: 200px;
    margin: auto
}

h1{
    color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    text-align: center;
}

